@font-face {
    font-family: Azonix;
    src: url("../fonts/Azonix.otf") format("opentype");
}

@font-face {
    font-family: odachi;
    src: url("../fonts/Odachi.woff") format("woff");
    font-display: swap;
}