.block {
    z-index: 1;
}

@media (max-width: 992px) {

    .block-title {
        font-size: 1.5rem;
        font-weight: bolder;
    }
}

@media (min-width: 992px) {

    .block-title {
        font-size: 2rem;
        font-weight: bolder;
    }
}


#body canvas {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111111;
    z-index: 0;
}

#block-name {
    /*font-family: "Comic Sans MS";*/
}

.block-status-line {
    margin-top: .25rem;
    margin-bottom: .25rem;

    float: left;
    width: 90%;

    border-top: 1px solid rgba(125, 125, 125, .75);

    transition: ease-in-out 1s;
}

.block-status-line-small {
    margin-top: .25rem;
    margin-bottom: .25rem;

    width: 100%;

    border-top: 1px solid rgba(125, 125, 125, .75);

    transition: ease-in-out 1s;
}


#add-function {
    display: block;

    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
    background-color: #4B4B4B;
    float: right;

    margin-top: -1.25rem;
}

/* IntelliJ thinks this does not exist. But the root of the document is somewhere else... /public */
/*noinspection CssUnknownTarget*/
html {
    background: no-repeat url("/images/background.png");
}

.mechatronik {


    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}


@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


@media (max-width: 992px) {

    * {
        font-family: Azonix, serif;
        color: #ffffff;
        font-size: 1rem;
    }

}

@media (min-width: 992px) {

    * {
        font-family: Azonix, serif;
        color: #ffffff;
    }

}

@media (max-width: 992px) {
    .footertext, .footertext * {
        font-size: 0.5rem;
        display: inline-block;
    }

    #block-mac {
        font-size: 0.75rem;
        font-family: Monospace, monospace;
        margin-top: -10px;
    }
}

@media (min-width: 992px) {
    .footertext, .footertext * {
        font-size: .75rem;
    }

    #block-mac {
        font-size: 1rem;
        font-family: Monospace, monospace;
        margin-top: -10px;
    }
}

.nameChangeButton {
    color: black;
}

.nameChangeInput {
    color: black;
}